@model Estado

<h2>@(ViewContext.RouteData.Values["action"].ToString() == "Create" ? "Crear Estado" : "Editar Estado")</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" data-voice="Nombre de estado"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tipo"></label>
        <input asp-for="Tipo" class="form-control" data-voice="Tipo de estado" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Activo" class="form-check-input" checked="checked"/>
        <label asp-for="Activo" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success" data-voice="Guardar estado">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary" data-voice="Cancelar">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
