@model TipoPlato

<h2>@(ViewContext.RouteData.Values["action"].ToString() == "Create" ? "Crear Tipo de Plato" : "Editar Tipo de Plato")</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" data-voice="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" data-voice="descripcion"/>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Activo" class="form-check-input" />
        <label asp-for="Activo" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success" data-voice="Guardar">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary" data-voice="Cancelar">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

